﻿@model AKQATest.Models.PriceWordsModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AKQA Test</h1>
    <p class="lead">To demonstrate basic mastery of modern web development with .NET/C# and give some insight into development practice.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>User Entry</h2>
    </div>
</div>

@using (Html.BeginForm("ToWords", "NumberToWords", FormMethod.Post, new { @id = "frmCurrency" }))
{
    <div class="row form-group">
        <div class="col-md-3 col-sm-2">
            <label id="lblName">Enter Name:</label>
        </div>
        <div class="col-md-6 col-sm-4">
            @Html.TextBoxFor(m => m.Name)
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 col-sm-2">
            <label id="lblCurrency">Enter Price:</label>
        </div>
        <div class="col-md-6 col-sm-4">
            @Html.TextBoxFor(m => m.Price)
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="submit" class="btn btn-primary" id="btnSubmit" value="Submit" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-8">
            Result:<label id="lblResult">Result here...</label>
        </div>
    </div>
}

